<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>copofi.testRun.testSuite</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCaseNo28_n_testCaseNo29</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCaseNo41</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCaseNo40</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCaseNo17_n_testCaseNo30</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setdriver</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
